[Unit]
Description=SCW fetch kernel modules from Scaleway mirror
DefaultDependencies=no
After=NetworkManager-wait-online.service
After=systemd-remount-fs.service
ConditionPathIsReadWrite=/lib/modules
Before=systemd-udevd.service
Before=systemd-modules-load.service

[Service]
ExecStart=/usr/local/sbin/scw-sync-kernel-modules
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=systemd-udevd.service
WantedBy=systemd-modules-load.service
